body{
    color: #444;
    font-family: Tahoma;
    letter-spacing: 1px;
}

#container{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    padding: 0 0 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 2);
    border: 1px solid lightgray;
    border-radius: 6px;
    overflow: hidden;
}
#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#page-banner{
    background: #eee;
    padding: 10px 0;
}